@import "src/App/common/style/mixins";
@import "src/App/common/style/variables";

.managerBlock {
  @include flex(space-between, center);
  width: 100%;
  height: 91px;
  background: var(--primary-dark-gray);
  border-bottom: 1px solid var(--primary-border);

  .smartView {
    @include flex(flex-start, center);
    .dots {
      width: 30px;
      height: 30px;
      margin-left: 23px;
      margin-right: 30px;
      cursor: pointer;
      background: url("../../../assets/images/icons/dots.svg") center no-repeat;
      border: 1px solid var(--secondary-border);
      border-radius: 4px;
      transition: all .3s ease-out;
      &:hover {
        border-color: var(--primary-hovered-border);
        transition: all .3s ease-in;
      }
    }
    .info {
      margin-right: 20px;
      span {
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.4px;
        color: var(--secondary-gray);

      }
      p {
        margin: 0;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.44px;
        color: var(--white);
      }
    }
    button {
      @include grayButton();
      width: 205px;
    }
  }
  .managerFields {
    button {
      @include button();
      margin-right: 27px;
      position: relative;
      width: 203px;
      img {
        width: 16px;
      }
    }
  }
}
