@import "src/App/common/style/variables";
@import "src/App/common/style/mixins";


.leadsListHeader {
  @include listHeader();
  width: 3000px;

  .lead {
    width: $lead;
  }
  .id {
    width: $id;
  }
  .created {
    width: $created;
  }
  .status {
    width: $status;
  }
  .country {
    width: $country;
  }
  .email {
    width: $email;
  }
  .localTime {
    width: $localTime;
  }
  .owner {
    padding-left: 10px;
    width: $owner;
  }
  .manager {
    width: $manager;
  }
  .desk {
    width: $desk;
  }
  .affiliate {
    width: $affiliate;
  }
  .lastNoteOn {
    width: $lastNoteOn;
  }
  .lastNote {
    width: $lastNote;
  }
  .lastActivity {
    width: $lastActivity;
  }
  .complianceUpdated {
    width: $complianceUpdated;
  }
  .creative {
    width: $creative;
  }
  .source {
    width: $source;
  }
  .callCount {
    width: $callCount;
  }
}
