@import "src/App/common/style/variables";
@import "src/App/common/style/mixins";


.leadsListHeader {
  @include flex(flex-start, center);
  width: 100%;
  height: 55px;
  background: var(--primary-dark-gray);
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: var(--white);
  border-bottom: 1px solid var(--primary-border);

  .lead {
    width: $lead;
  }
  .id {
    width: $id;
  }
  .created {
    width: $created;
  }
  .status {
    width: $status;
  }
  .country {
    width: $country;
  }
  .email {
    width: $email;
  }
  .localTime {
    width: $localTime;
  }
  .owner {
    width: $owner;
  }
  .manager {
    width: $manager;
  }
  .desk {
    width: $desk;
  }
}
