@import "src/App/common/style/variables";
@import "src/App/common/style/mixins";


.leadsListHeader {
  @include flex(space-between, center);
  width: 3000px;
  height: 55px;
  background: var(--primary-dark-gray);
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: var(--white);
  border-bottom: 1px solid var(--primary-border);

  .lead {
    width: $lead;
  }
  .id {
    width: $id;
  }
  .created {
    width: $created;
  }
  .status {
    width: $status;
  }
  .country {
    width: $country;
  }
  .email {
    width: $email;
  }
  .localTime {
    width: $localTime;
  }
  .owner {
    padding-left: 10px;
    width: $owner;
  }
  .manager {
    width: $manager;
  }
  .desk {
    width: $desk;
  }
  .affiliate {
    width: $affiliate;
  }
  .lastNoteOn {
    width: $lastNoteOn;
  }
  .lastNote {
    width: $lastNote;
  }
  .lastActivity {
    width: $lastActivity;
  }
  .complianceUpdated {
    width: $complianceUpdated;
  }
  .creative {
    width: $creative;
  }
  .source {
    width: $source;
  }
  .callCount {
    width: $callCount;
  }
}
