@import "src/App/common/style/variables";
@import "src/App/common/style/mixins";

.bannerHeader {
  @include listHeader();
  width: 1500px;

  .id {
    width: $bannerID;
  }
  .userName {
    width: $bannerUserName;
  }
  .userId {
    width: $bannerUserID;
  }
  .userInvest {
    width: $bannerInvest;
  }
  .category {
    width: $bannerCategory;
  }
  .marketplaceId {
    width: $bannerMarketplaceID;
  }
  .name {
    width:$bannerName ;
  }
  .runningFor {
    width: $bannerRunningFor;
  }
  .totalPeriod {
    width: $bannerTotalPeriod;
  }
}
