@import "src/App/common/style/variables";
@import "src/App/common/style/mixins";

.titleBlock {
  @include flex(flex-start, center);
  box-shadow: -1px 8px 12px 2px rgba(0, 0, 0, 0.46);
  width: 100%;
  height: 60px;
  padding-left: 20px;
  margin-bottom: 27px;
  background: var(--primary-dark-gray);

  span {
    font-size: 20px;
    line-height: 31px;
    color: var(--white);
  }
}
