@import "variables";

@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex($justify-content, $align-items) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin container() {
  padding-top: 112px;
  padding-bottom: 45px;
  margin: 0 auto;
  width: 70%;
  min-height: calc(100vh - #{$headerHeight});

}

@mixin hoverActiveLink() {
  position: absolute;
  content: '';
  bottom: 0;
  left: -5%;
  width: 110%;
  height: 2px;
  background: linear-gradient(206.97deg, var(--primary-purple) -1.5%, var(--primary-blue) 65.04%);
  border-radius: 15px;
  animation: hoverActive .5s ease-in forwards;
}

@mixin boxShadow() {
  box-shadow: 0 8px 8px $firstBoxShadowColor, 0 8px 16px $secBoxShadowColor;
}

@mixin input() {
  height: 48px;
  width: 100%;
  padding-left: 16px;
  background: inherit;
  border: 1px solid var(--secondary-border);
  border-radius: 4px;
  color: var(--white);
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.75px;
  transition: all .3s ease-out;
  &:hover {
    border: 1px solid var(--primary-hovered-border);
    transition: all .3s ease-in;
  }
}

@mixin button() {
  background-size: 100%;
  //background: linear-gradient(206.97deg, var(--primary-purple) -1.5%, var(--primary-blue) 65.04%);
  background: linear-gradient(340.97deg, var(--primary-purple) -1.5%, var(--primary-blue) 60.04%);
  position: relative;
  z-index: 1;
  display: inline-block;
  min-height: 44px;
  padding: 5px;
  margin: 0;
  border-radius: 15px;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: var(--white);
  cursor: pointer;
  border: none;
  outline: none;
  &:before {
    position: absolute;
    content: '';
    display: block;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    z-index: -100;
    border-radius: inherit;
    background: linear-gradient(214deg, var(--primary-blue) 9.48%, var(--primary-purple) 89.38%);
    box-shadow: 0 10px 9px rgba(0, 0, 0, 0.26);
    transition: 1s;
  }

  &:hover {
    &:before {
      opacity: 1;
    }
  }
}

@mixin grayButton () {
  @include flexCenter();
  flex-wrap: wrap;
  min-height: 44px;
  padding: 5px 10px;
  margin: 0 5px;
  background: var(--secondary-dark-gray);
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: var(--secondary-gray);
  border-radius: 15px;
  transition: all .3s ease-out;
  cursor: pointer;
  border: none;
  outline: none;
  &:hover {
    background: #4F4F4F;
    box-shadow: 0 10px 9px rgba(0, 0, 0, 0.25);
    color: #9C9C9C;
  }
}


@mixin listHeader () {
  @include flex(space-between, center);
  height: 56px;
  background: var(--primary-dark-gray);
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: var(--white);
  border-bottom: 1px solid var(--primary-border);
}

@mixin listItem () {
  @include flex(space-between, center);
  height: 55px;
  border-bottom: 1px solid var(--primary-border);
  > div {
    @include flex(flex-start, center);
    height: 100%;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: var(--dark-gray);
  }
}

@mixin listPaginatorWrapper() {
  @include flex(flex-start, center);
  height: 64px;
  width: 100%;
  background: var(--primary-dark-gray);
}

@mixin list () {
  margin-top: $listMarginTop;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background: rgba(44, 44, 46, 0.8);
  //background: linear-gradient(180deg, rgba(94, 92, 230, 0.15) 0%,
  //        rgba(186, 92, 230, 0.15) 141.68%);
  backdrop-filter: blur(12px);
}

@mixin listScroll () {
  overflow-y: auto;
  //"scrollbar-color" for FireFox
  scrollbar-color: var(--primary-blue) var(--primary-dark-gray);
  padding-bottom: 20px;
  margin-bottom: 19px;
}

@mixin img($width, $height) {
  width: $width;
  height: $height;
  background-position: center;
  background-repeat: no-repeat;
  transition: all .3s ease-out;
}

@mixin imgWrapper () {
  @include flexCenter();
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: 0.5px solid var(--primary-blue);
  background: var(--gray036);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.08), 0 4px 8px rgba(50, 50, 71, 0.006);
  border-radius: 15px;
}
