@import "variables";

@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex($justify-content, $align-items) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin container() {
  width: 100%;
  min-height: calc(100vh - #{$headerHeight});
}

@mixin boxShadow() {
  box-shadow: 0 8px 8px $firstBoxShadowColor, 0 8px 16px $secBoxShadowColor;
}

@mixin button () {
  background-size: 100%;
  //background: linear-gradient(206.97deg, var(--primary-purple) -1.5%, var(--primary-blue) 65.04%);
  background: linear-gradient(340.97deg, var(--primary-purple) -1.5%, var(--primary-blue) 60.04%);
  position: relative;
  z-index: 100;
  display: inline-block;

  height: 44px;
  padding: 0 10px;
  border-radius: 15px;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: var(--white);
  cursor: pointer;
  border: none;
  outline: none;
  &:before {
    position: absolute;
    content: '';
    display: block;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    z-index: -100;

    border-radius: inherit;
    background: linear-gradient(214deg, var(--primary-blue) 9.48%, var(--primary-purple) 89.38%);
    box-shadow: 0 10px 9px rgba(0, 0, 0, 0.26);
    transition: 1s;
  }

  &:hover {
    &:before {
      opacity: 1;
    }
  }
}
