$headerHeight: 80px;

$firstBoxShadowColor: rgba(50, 50, 71, 0.08);
$secBoxShadowColor: rgba(50, 50, 71, 0.06);

//BoxShadow
$boxShadow: -1px 8px 12px 2px rgba(0, 0, 0, 0.46);

//Lists margin-top
$listMarginTop: 27px;

//dashboard - affiliate list
$nameWidth: 30%;
$leadsWidth: 10%;
$ftdWidth: 10%;
$depositsWidth: 20%;
$withdrawalsWidth: 20%;
$netDepositWidth: 20%;

// Leads row width
$lead: 207px;
$leadId: 150px;
$created: 100px;
$leadsStatus: 140px;
$country: 150px;
$email: 200px;
$localTime: 90px;
$owner: 120px;
$manager: 170px;
$desk: 80px;
$affiliate: 100px;
$lastNoteOn: 105px;
$lastNote: 250px;
$lastActivity: 105px;
$complianceUpdated: 161px;
$creative: 100px;
$source: 75px;
$callCount: 100px;

$leadRowWidth: calc(#{$lead} + #{$leadId} + #{$created} + #{$leadsStatus} + #{$country} + #{$email} + #{$localTime} + #{$owner} + #{$manager} + #{$desk} + #{$affiliate} + #{$lastNoteOn} + #{$lastNote} + #{$lastActivity} + #{$complianceUpdated} + #{$creative} + #{$source} + #{$callCount} + 100px);

// Document row width
$action: 137px;
$docType: 195px;
$ID: 75px;
$userType: 100px;
$user: 105px;
$docName: 210px;
$status: 100px;
$uploadedBy: 124px;
$created: 125px;

//Transactions list row width
$transactionsAction: 165px;
$transactionsType: 207px;
$transactionsID: 120px;
$transactionsUser: 110px;
$userAmount: 215px;
$transactionsStatus: 100px;
$itemId: 100px;

//Banners list row width
$bannerID: 135px;
$bannerUserName: 135px;
$bannerUserID: 116px;
$bannerInvest: 210px;
$bannerCategory: 90px;
$bannerMarketplaceID: 120px;
$bannerName: 91px;
$bannerRunningFor: 100px;
$bannerTotalPeriod: 115px;

//Setting page
$settingNavBarWidth: 297px;
$settingNavBarHeight: 250px;
$settingNavBarMarginRight: 30px;
$settingMainBlockWidth: calc(100% - #{$settingNavBarWidth} - #{$settingNavBarMarginRight});

// ManagerAccount type list row width
$typeName: 150px;
$typeId: 110px;
$typeAmount: 125px;
$typeNetworkFree: 110px;
$typeWithdrawFree: 125px;
$typeCreated: 106px;
$typeActions: 90px;


// user profile page
$navbarHeight: 91px;
$navbarMarginBottom: 29px;

