@import "src/App/common/style/mixins";
@import "src/App/common/style/variables";


.leadListItem {
  @include listItem();
  width: 3000px;

  .lead {
    border-right: 1px solid var(--primary-border);
    width: $lead;
  }
  .id {
    padding-left: 5px;
    width: $leadId;
  }
  .created {
    width: $created;
  }
  .status {
    width: $leadsStatus;
    span {
      background: var(--secondary-dark-gray);
      border-radius: 8px;
      letter-spacing: 0.5px;
      color: var(--primary-blue);
      font-size: 14px;
      line-height: 21px;
      padding: 5px 10px;
      text-transform: uppercase;
    }
  }
  .country {
    @include flex(flex-start, center);
    width: $country;
    .flag {
      position: relative;
      margin-right: 5px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: yellow;
      overflow: hidden;
      &:after {
        position: absolute;
        content: '';
        top: 4px;
        width: 100%;
        height: 4px;
        background: red;
      }
      &:before {
        position: absolute;
        content: '';
        top: 0;
        width: 100%;
        height: 4px;
        background: black;
      }
    }
  }
  .email {
    width: $email;
  }
  .localTime {
    width: $localTime;
  }
  .owner {
    width: $owner;
  }
  .manager {
    width: $manager;
  }
  .desk {
    width: $desk;
  }
  .affiliate {
    width: $affiliate;
  }
  .lastNoteOn {
    width: $lastNoteOn;
  }
  .lastNote {
    width: $lastNote;
  }
  .lastActivity {
    width: $lastActivity;
  }
  .complianceUpdated {
    width: $complianceUpdated;
  }
  .creative {
    width: $creative;
  }
  .source {
    width: $source;
  }
  .callCount {
    width: $callCount;
  }
}
