@import "src/App/common/style/mixins";
@import "src/App/common/style/variables";


.navBarItem {
  @include flexCenter();
  position: relative;
  font-weight: 600;
  font-size: 20px;
  line-height: 31px;
  color: var(--gray);
  transition: all .5s ease-out;
  margin-right: 30px;
  height: 100%;

  &:hover {
    &:after {
      @include hoverActiveLink();
    }
  }

  &.active {
    color: var(--white);
    transition: all .5s ease-in;

    &:after {
      @include hoverActiveLink();
    }
  }
}

@keyframes hoverActive {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
