@import "src/App/common/style/mixins";


.notification {
  @include flexCenter();
  position: relative;
  height: 100%;
  margin-right: 14px;
  cursor: pointer;

  .bell {
    width: 15px;
    height: 19px;
    background: url("../../../assets/images/icons/bell.svg") center no-repeat;

    &:hover, &.active {
      background: url("../../../assets/images/icons/bell_hover.svg") center no-repeat;
    }
  }

  .notificationList {
    position: absolute;
    top: 60px;
    left: -490px;
    width: 510px;
    background: var(--secondary-dark-gray);
    border-radius: 3px;
    visibility: hidden;
    opacity: 0;
    transition: all .3s linear;

    &.show {
      visibility: visible;
      opacity: 1;
      transition: all .3s linear;
    }

    h3 {
      padding: 0 12px;
      margin-left: 12px;
      margin-right: 12px;
      background: var(--gray036);
      font-size: 20px;
      font-weight: normal;
      line-height: 31px;
      color: var(--white);
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.08), 0 4px 8px rgba(50, 50, 71, 0.006);
      border-radius: 15px;
    }

    .item {
      @include flex(space-between, center);
      padding: 0 24px;
      margin-bottom: 36px;

      &:first-of-type {
        padding-top: 0;
      }

      &:hover {
        span {
          color: var(--white);
          transition: color .3s ease-in;
        }

        .time {
          color: #9C9C9D;
          transition: color .3s ease-in;
        }
      }

      span {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.25px;
        color: #9C9C9D;
        transition: color .3s ease-out;
      }

      .time {
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.4px;
        color: #1C1C1E;
        transition: color .3s ease-out;
      }
    }

    button {
      @include button();
      width: 460px;
      box-sizing: border-box;
      margin: 0 24px 14px;
    }
  }
}
