@import "src/App/common/style/mixins";
@import "src/App/common/style/variables";

$btnWidth: 203px;

.banners {
  margin-top: 20px;

  .bannersFilter {
    @include flex(space-between, center);
    width: 100%;
    padding: 8px 10px 8px 25px;
    margin-bottom: 22px;
    background: var(--primary-dark-gray);
    height: 60px;
    box-shadow: $secBoxShadow;
    div {
      width: calc(100% - #{$btnWidth});
      @include flex(space-between, center);
      span {
        white-space: nowrap;
        font-size: 20px;
        line-height: 31px;
        color: var(--white);
      }
      .imgWrapper {
        @include flexCenter();
        margin-right: 15px;
        width: 68px;
        height: 45px;
        background: var(--secondary-gray);
        border-radius: 15px;
      }
    }
    button {
      @include button();
      width: $btnWidth;
    }
  }
}
