@import "src/App/common/style/mixins";
@import "src/App/common/style/variables";

$short: 210px;

.newTemplate {
  @include flex(space-between, flex-start);
  flex-wrap: wrap;
  height: $settingNavBarHeight;
  width: 100%;
  background: var(--primary-dark-gray);
  box-shadow: $boxShadow;
  padding: 31px 38px 53px 42px;
  //overflow-y: auto;

  .fieldsWrapper {
    @include flex(flex-start, flex-end);
    width: 100%;

    .long {
      width: 334px;
      margin-right: 30px;
    }

    .short {
      width: $short;
    }

    button {
      @include button();
      width: $short;
    }
  }
}
