@import "src/App/common/style/variables";
@import "src/App/common/style/mixins";


.loginWrapper {
  @include container();
  @include flexCenter();
  .login {
    width: 626px;
    min-height: 467px;
    background: #2C2C2E;
    box-shadow: -1px 8px 12px 2px rgba(0, 0, 0, 0.46);
    h4 {
      @include flexCenter();
      margin: 0;
      font-weight: bold;
      font-size: 25px;
      line-height: 20px;
      letter-spacing: 0.2px;
      height: 113px;
      text-align: center;
      color: var(--primary-purpl);
      border-bottom: 1px solid var(--primary-border);
    }
    form {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      input {
        background: inherit;
        border: none;
        outline: 1px solid var(--secondary-border);
        border-radius: 4px;
      }
      .emailBlock {
        display: flex;
        flex-direction: column-reverse;
      }
      .passBlock {
        display: flex;
        flex-direction: column-reverse;
      }
    }
  }
}
