@import "src/App/common/style/variables";
@import "src/App/common/style/mixins";


.loginWrapper {
  @include container();
  @include flexCenter();

  .login {
    width: 626px;
    min-height: 467px;
    background: var(--primary-dark-gray);
    box-shadow: -1px 8px 12px 2px rgba(0, 0, 0, 0.46);

    h4 {
      @include flexCenter();
      margin: 0;
      font-weight: bold;
      font-size: 25px;
      line-height: 20px;
      letter-spacing: 0.2px;
      height: 113px;
      text-align: center;
      color: var(--primary-blue);
      border-bottom: 1px solid var(--primary-border);
    }

    form {
      height: 100%;
      width: 100%;
      padding: 0 40px;
      @include flex(space-between, center);
      flex-direction: column;

      input {
        @include input();
      }

      .emailBlock, .passBlock {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;

        &.error {
          position: relative;

          span {
            position: absolute;
            top: 40px;
            left: 45px;
            padding-bottom: 5px;
            font-size: 16px;
            line-height: 25px;
            letter-spacing: 0.4px;
            color: var(--error-red);
          }

          label {
            color: var(--error-red);
          }

          input {
            border-color: var(--error-red);
            color: var(--error-red);
          }
        }
      }

      .emailBlock {
        padding-top: 40px;

        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active {
          -webkit-box-shadow: 0 0 0 30px var(--primary-dark-gray) inset !important;
          -webkit-text-fill-color: var(--white) !important;
        }
      }

      .passBlock {
        padding-top: 16px;

        &.error {
          span {
            top: 16px;
            left: 75px;
          }
        }
      }

      label {
        padding-bottom: 5px;
        font-size: 16px;
        line-height: 25px;
        letter-spacing: 0.4px;
        color: var(--secondary-gray);
      }

      button {
        @include button();
        margin-top: 30px;
        width: 100%;
      }
    }
  }
}

