@import "src/App/common/style/mixins";
@import "src/App/common/style/variables";


.noteWrapper {
  @include flex(space-between, center);
  border-bottom: 1px solid #525156;
  padding-left: 38px;
  width: 100%;
  height: 58px;
  cursor: pointer;
  &:hover {
    background: linear-gradient(180deg, rgba(94, 92, 230, 0.15) 0%, rgba(186, 92, 230, 0.15) 141.68%);
  }
  .noteBlock {
    @include flex(flex-start, flex-start);
    flex-direction: column;
    .writeBy {
      @include itemTitle(#65656A);
    }
    .note {
      @include itemTitle(var(--white));
      margin: 0;
    }
  }
  .date {
    @include itemTitle(#77777D);
    padding-right: 24px;
  }
}
