@import "src/App/common/style/variables";
@import "src/App/common/style/mixins";

.docListHeader {
  width: 100%;
  @include listHeader();
  .action {
    width: $action;
  }
  .docType {
    width: $docType;
  }
  .id {
    width: $ID;
  }
  .userType {
    width: $userType;
  }
  .user {
    width: $user;
  }
  .docName {
    width: $docName;
  }
  .status {
    width: $status;
  }
  .uploadedBy {
    width: $uploadedBy;
  }
  .created {
    width: $created;
  }
}
