@import "src/App/common/style/mixins";
@import "src/App/common/style/variables";


.leadsList {
  @include list();

  .list {
    padding-bottom: 20px;
    margin-bottom: 19px;
    min-height: 382px;
    backdrop-filter: blur(12px);
    overflow-y: auto;
    //"scrollbar-color" for FireFox
    scrollbar-color: var(--primary-blue) var(--primary-dark-gray);
  }
}
