@import "src/App/common/style/variables";
@import "src/App/common/style/mixins";


.checkBoxSquare {
  display: inline-block;
  position: relative;
  padding-left: 64px;
  cursor: pointer;
  &:hover {
    .square {
      &:after {
        background: #4F4F4F;
        //transition: all .1s ease-in;
      }
    }
  }

  .checkBoxSquareInput {
    position: absolute;
    appearance: none;
    -webkit-appearance: none;
    &:checked {
      + .square {
        &:before {
          background: url("../../../assets/images/icons/check.svg") center no-repeat;
          top: 0;
          left: 25px;
        }

        &:after {
          background: linear-gradient(109.47deg, var(--primary-blue) 17.82%, var(--primary-purple) 106.28%);
        }
      }
    }

  }
  .square {
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: var(--white);

    &:after {
      position: absolute;
      content: '';
      top: 0;
      left: 24px;
      z-index: 1;
      width: 21px;
      height: 21px;
      background: var(--secondary-dark-gray);
      border-radius: 5px;
      cursor: pointer;
    }

    &:before {
      position: absolute;
      content: '';
      top: 2px;
      left: 26px;
      z-index: 2;
      width: 21px;
      height: 21px;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}
