@import "src/App/common/style/mixins";
@import "src/App/common/style/variables";

@mixin profileHeaderTitle () {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: var(--secondary-gray);
}

.clientProfileHeader {
  @include flex(space-between, center);
  width: 100%;
  height: $navbarHeight;
  background: var(--primary-dark-gray);
  margin-bottom: $navbarMarginBottom;
  box-shadow: -1px 8px 12px 2px rgba(0, 0, 0, 0.46);

  .wrapper {
    @include flex(flex-start, center);
    .name {
      span {
        &:first-of-type {
         @include profileHeaderTitle();
        }
        &:last-of-type {
          font-size: 20px;
          line-height: 24px;
          display: flex;
          align-items: center;
          letter-spacing: 0.44px;
          color: var(--white);
        }
      }
    }
  }
  .id {
    padding-right: 25px;
    text-align: right;
    span {
      @include profileHeaderTitle();
      display: block;
    }
  }
}
