* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
}


input, textarea, button {
    outline: none;
}

a, a:active {
    text-decoration: none;
}


:root {
    --primary-dark-gray: #2C2C2E;
    --secondary-dark-gray: #3A3A3C;
    --primary-gray: #6F6F74;
    --secondary-gray: #65656A;
    --gray: #959596;
    --primary-blue: #5E5CE6;
    --primary-purple: #E35CE6;
    --white: #FFFFFF;
    --primary-border: #525156;
    --secondary-border: #3D3C41;
    --error-red: #D73B3B;
}
