* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
}

:root {
    --primary-dark-gray: #2C2C2E;
    --secondary-dark-gray: #3A3A3C;
    --primary-gray: #6F6F74;
    --primary-purpl: #5E5CE6;
    --promary-white: #FFFFFF;
    --primary-border: #525156;
    --secondary-border: #3D3C41;
}
