@import "src/App/common/style/mixins";
@import "src/App/common/style/variables";

.header {
  width: 100%;
  height: 59px;
  color: var(--white);
  border-bottom: 1px solid #525156;
  @include flex(flex-start, center);
  &.item {
    color: var(--dark-gray);
    &:hover {
      cursor: pointer;
      background: linear-gradient(180deg, rgba(94, 92, 230, 0.15) 0%, rgba(186, 92, 230, 0.15) 141.68%);
      color: var(--white);
    }
    .name, .leads, .ftd, .deposits, .withdrawals, .netDeposit {
      font-weight: normal;
      font-size: 16px;
      line-height: 25px;
      letter-spacing: 0.4px;
      color: inherit;
    }

  }
  .name, .leads, .ftd, .deposits, .withdrawals, .netDeposit {
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: var(--white);
  }
  .name {
    padding-left: 19px;
    text-align: left;
    width: $nameWidth;
    img {
      margin-left: 8.5px;
    }
  }
  .leads {
    width: $leadsWidth;
  }
  .ftd {
    width: $ftdWidth;
  }
  .deposits {
    width: $depositsWidth;
  }
  .withdrawals {
    width: $withdrawalsWidth;
  }
  .netDeposit {
    width: $netDepositWidth;
  }
}
